@use 'sass:color';

.container {
  position: relative;
  color: #fff;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 700;
      font-size: 1.5rem;
    }

    a {
      padding: 0.625rem 1rem;
      border-radius: 9999px;
      background-color: #842dff;
      font-weight: 500;
      font-size: 0.875rem;
      transition: background-color 0.2s cubic-bezier(0.4, 0, 0, 1);

      &:hover {
        background-color: color.scale(#842dff, $lightness: -5%);
      }
    }
  }

  .list {
    margin-top: 1rem;

    .parties {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }
}
