@use 'reset';
@use 'fonts';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a157f;

  @media screen and (min-width: 480px) {
    padding: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
