@use 'sass:color';

.container {
  width: 100%;
  background-color: #842dff;
  border-radius: 8px;
  padding: 1rem 0.75rem;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0, 1);

  &:hover {
    background-color: color.scale(#842dff, $lightness: -2%);
  }

  .inside {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading {
    pointer-events: none;
  }
}
