@use 'sass:color';

.container {
  position: relative;
  padding: 1.25rem;
  border-radius: 8px;
  background-color: #3a157f;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0, 1);

  &:hover {
    background-color: color.scale(#3a157f, $lightness: -5%);
  }

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    column-gap: 0.5rem;

    .title {
      font-size: clamp(1rem, 3.5vw, 1.25rem);
      line-height: clamp(1.25rem, 3.5vw, 1.5rem);
    }

    .date {
      font-size: clamp(0.75rem, 3.5vw, 0.875rem);
      line-height: clamp(1.25rem, 3.5vw, 1.5rem);
      flex-shrink: 0;
    }
  }

  .participants {
    display: flex;
    gap: 0.325rem;
    flex-wrap: wrap;
    max-width: 90%;

    .participant {
      border-radius: 9999px;
      padding: 0.375rem 0.75rem;
      background-color: rgba(0, 0, 0, 0.2);
      font-size: clamp(0.875rem, 3.5vw, 1rem);
    }
  }
}
